<ion-view view-title="Accueil">
  <ion-content>
    <div class="row">
      <div class="col">
        <div class="text-center">
          <h2 style="text-align: center;">Bienvenue sur l'application PGS</h2>
          <img width="150" height="150" src="img/pill_icon-icons.com_53621.png"></ion-img>
          <form ng-submit="submit()">
                    <label class="item item-input">
                        <span class="input-label">Nom</span>
                        <input type="text" name="username" placeholder="" ng-model="data.username">
                    </label>

                    <input class="button button-block button-positive" type="submit" name="submit" value="Chargement des médicaments">
                </form>
        </div>
      </div>
    </div>

  </ion-content>
</ion-view>
