<ion-view view-title="alert">
  <ion-content>
    <button class="button button-block" ng-click='alert()'>
       Sync
    </button>
    <ion-list show-delete="false" can-swipe="true">
      <ion-item ng-repeat="modif in listModif">
        {{modif}}
        <ion-option-button class="button-assertive ion-trash-b" ng-click="remove(thing)"></ion-option-button>
      </ion-item>
    </ion-list>
    <ion-list show-delete="false" can-swipe="true">
      <ion-item ng-repeat="commande in listCommande">
        {{commande}}
        <ion-option-button class="button-assertive ion-trash-b" ng-click="remove(thing)"></ion-option-button>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
