<ion-view view-title="Commande">
  <ion-content>
  <button class="button button-dark button-block" modal-select="" ng-model="select"
  options="stocks" modal-select="" has-search="true" on-select="search(newValue)" multiple=""
  cancel-button="Fermer" modal-title="Selectionner les médicaments" hide-reset=false
  search-placeholder="Recherche" cancel-search-button="Effacer">
  <i class="icon ion-medkit placeholder-icon"></i>
  Recherche
  <div class="option">
    {{option.nomM}}
  </div>
  </button>
  <!--<div class="list card">
    {{select.nomM}}
    {{select.quantite}}
    {{select.DCI_nom}}
  </div>-->
  <div class="list card">
    <ion-item ng-repeat="medic in panier" item="medic">
      <div class="row">
        <div class="col">{{medic.nomM}}</div>
      </div>
      <div class="row">
        <div class="col">
          <button class="button button-assertive" ng-click="supprimer(medic)">
            Supprimer
          </button>
        </div>
        <div class="col">
          <label class="item item-input">
            <span class="input-label" placeholder="Entrer votre commande">Commande : </span>
            <input type="number" ng-model="commande.quantite">
          </label>
      </div>
      </div>
    </ion-item>
  </div>
  <button class="button button-assertive button-block" ng-click="showConfirmsup()">
    Annuler la commande
    </button>
  <button class="button button-balanced button-block" ng-click="showConfirmval()">
    Commander
  </button>
  <ion-list show-delete="false" can-swipe="true">

  <ion-list show-delete="false" can-swipe="true">
       <ion-item ng-repeat="thing in things">
 {{thing}}
       <ion-option-button class="button-assertive ion-trash-b" ng-click="remove(thing)"></ion-option-button>
       </ion-item>
     </ion-list>
</ion-content>
</ion-view>
