<ion-view view-title="patients" ng-controller="PatientsCtrl">
  <ion-content>
    <ion-list>
    	<ion-item href="#/app/creation_patient">
       		<button class="button button-dark button-block">
            Créer Patient
            </button>
        </ion-item>
        <ion-item ng-repeat="patient in patients" href="#/app/patients/{{patient.id_patient}}">
        <div class="row">
          <div class="col">{{patient.nom}}</div>
          <div class="col">{{patient.prenom}}</div>
        </div>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
