<ion-view view-title="Pharmacie">
  <ion-content>
    <div class="list list-inset">
      <label class="item item-input">
        <i class="icon ion-medkit placeholder-icon"></i>
        <input type="text" placeholder="Recherche"
        ng-model="text">
        <button ng-if="text.length"
        class="button button-icon ion-android-close input-button"
        ng-click="clearSearch()">
      </button>
    </label>
  </div>
  <div class="list card" type="select" ng-model="select">
    {{select.nomM}}
    {{select.quantite}}
    {{select.DCI_nom}}
  </div>
  <button class="button button-avanced button-block" ng-click="choixMedic()">
    Medicament
  </button>
  <button class="button button-avanced button-block" ng-click="choixMedic2()">
    Medicament2
  </button>
  <button class="button button-balanced button-block" ng-click="ajouter()">
    Ajouter
  </button>
  <div class="list card">
    <ion-item ng-repeat="medic in panier" item="medic">
      <div class="row">
        <div class="col">{{medic.nomM}}</div>
        <div class="col">{{medic.DCI_nom}}</div>
        <div class="col"><span
          ng-class=
          "{'balanced-bg balanced-border':medic.quantite >=10,
          'energized-bg energized-border':medic.quantite<10 && medic.quantite>=5,
          'assertive-bg assertive-border':medic.quantite<5}"
          style="
          color:white;
          border-radius:4px;
          border-width:1px;
          border-style:solid;
          padding:0 12px;">
          Stock : {{medic.quantite}}</span>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <button class="button button-small button-assertive" ng-click="supprimer(medic)">
            Supprimer
          </button>
        </div>
        <div class="col">
          <button class="button button-icon icon ion-minus-round" ng-click="moins(medic)"></button>
        </div>
        <div class="col">
          <button class="button button-icon icon ion-plus-round" ng-click="plus(medic)"></button>
        </div>
        <div class="col">Quantité : {{medic.nb}}</div>
      </div>
    </ion-item>
  </div>
</div>
</ion-content>
</ion-view>
