<ion-view view-title="stock">
  <ion-content>
    <div class="row">
    <h1>{{stocks[stateParams.stockTitle-1].nomM}}</h1>
      <div class="col">
        <button class="button button-icon icon ion-minus-round" ng-click="moins(medic)"></button>
          <button class="button button-icon icon ion-plus-round" ng-click="moins(medic)"></button>
          <button class="button button-balanced button-assertive" ng-click="valider()">
            Valider
          </button>
      </div>
    </div>

    <ion-list>
      <ion-item ng-repeat="machin in stocks[stateParams.stockTitle-1]" >

        <div class="row">
          <div class="col">{{intitule[$index]}}</div>
          <div class="col">{{machin}}</div>
          <div class="col">
        </div>

      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
