<ion-view view-title="stocks">
  <ion-content>
    <button class="button button-icon icon ion-ios-search-strong" ng-click="showFilterBar()">
    </button>
    <ion-list>
      <ion-item ng-repeat="stock in stocks" href="#/app/stocks/{{stock.id}}">
        <div class="row">
          <div class="col">{{stock.nomM}}</div>
          <div class="col">{{stock.prix}}&#8364</div>
          <div class="col">{{stock.quantite}}</div>
        </div>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
